<div class="banner">
	<div class="bg">		
	</div>
	<!-- NO EDICION ACTIVA O TODAVIA NO INSCRITO 
		se muestra informacion general de la GAMEJAM-->
	<div ng-show="!ingamejam" class="info-gamejam" layout="row">		
		<div class="data-video" flex>
			<iframe src="//www.youtube.com/embed/jnqgL1I85-I?rel=0" frameborder="0" allowfullscreen class="youtube video"></iframe>
		</div>
		<div class="data" flex>
			<h2>¿Hacer un videojuego en 48 horas?</h2>
			<ul>
				<li class="fa fa-caret-right"> ¿Sabías qué? ¡No es imposible!</li>
				<li class="fa fa-caret-right"> Échale un vistazo a los juegos en nuestra web</li>
				<li class="fa fa-caret-right"> Una GameJam es la mar de divertida, ¡no te pierdas ninguna!</li>
				<li class="fa fa-caret-right"> <a class="white" href="http://compohub.net/">¡Encuentra otras game jams!</a> </li>
			</ul>
			<md-button class="mybutton inverse" aria-label="Ultima Edicion">Última Edición</md-button>
			<md-button ng-show="!logged" class="mybutton inverse" aria-label="Registrate">¡Regístrate!</md-button>
		</div>
	</div>
	<!-- EDICION ACTIVA
		se muestra informacion general de la EDICION-->
	<div ng-show="ingamejam" class="info-edicion" layout="row">
		<div class="data" flex>
			<h2 ng-show="!inscrito">¡Hay una edición activa!</h2>
			<h2 ng-show="inscrito">¡Ya estás inscrito!</h2>
			<ul>
				<li class="fa fa-caret-right"> Monta tu grupo de hasta 4 personas</li>
				<li class="fa fa-caret-right"> Decídete por un videojuego o un juego de mesa</li>
				<li class="fa fa-caret-right"> Snacks y bebidas para el fin de semana</li>
				<li class="fa fa-caret-right"> <a class="white" href="#">Leete las normas</a> </li>
			</ul>
			<md-button class="mybutton inverse" aria-label="Mas info">+ información</md-button>
			<md-button ng-show="!inscrito" class="mybutton inverse" aria-label="Inscribete">¡Inscríbete!</md-button>
		</div>
		<div class="data-poster" flex>
			<img class="poster" ng-src="static/assets/images/mapa.jpg" alt="poster de la edicion"/>
		</div>
	</div>
</div>


<div id="home">
	<div layout="column" layout-fill>
		<!-- NO EDICION ACTIVA O TODAVIA NO INSCRITO
			se recorren la lista de juegos y se obtienen 4 randoms-->
		<h3 ng-show="!ingamejam">Juegos de otras ediciones - <a class="black" href="#">ver más</a></h3>	
		<div ng-show="!ingamejam" class="outgamejam" layout="row" layout-sm="column" layout-md="column">
			<md-card class="cards clickable" ng-repeat="game in games" flex-lg>
				<img ng-src="{{game.img}}" class="md-card-image" alt="{{game.title}}"/>
				<md-card-content>
					<h2 class="md-title"> {{game.title}} </h2>
				</md-card-content>
			</md-card>		
		</div>	

		<!-- INSCRITO EN GAMEJAM 
			se recorre la lista de 'pasos' sin realizar y se muestran-->
		<md-tabs ng-show="ingamejam" class="ingamejam" md-selected="selectedStep" md-border-bottom md-autoselect>
			<md-tab ng-repeat="step in steps" ng-disabled="step.disabled" label='{{step.title}}'>
				<div class="info">
					<img ng-src="{{step.img}}" alt="poster de la edicion"/>
					<div ng-bind="step.content"></div>
					<md-button class="mybutton special" aria-label="Mas info">{{step.title}}</md-button>
				</div>
			</md-tab>
		</md-tabs>
	</div>

	<div class="more-info" layout="row">
		<!-- NOTICIAS  - serie de noticias obtenidas y mostradas -->
		<div flex >
			<div class="news" ng-repeat="new in news">
				<h2>{{new.title}}</h2>
				<span>{{new.date}}</span>
				<div class="bubble"><p>{{new.text}}</p></div>
				<a class="black" href="#">leer más</a>
			</div>
		</div>
		<!-- TWITTER WIDGET GAMEJAM-->
		<div class="twitterfeed" flex="40">
			<h3>Twittea con el hashtag #GameJamUA</h3>
			<div class="inside">
				<a class="twitter-timeline" href="https://twitter.com/hashtag/GameJamUA" data-widget-id="613117035736891392">Tweets sobre #GameJamUA</a>
				<script>
					!function(d,s,id){
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
						if(!d.getElementById(id)){
							js=d.createElement(s);
							js.id=id;
							js.src=p+"://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js,fjs);
						}
					}
					(document,"script","twitter-wjs");
				</script>
			</div>
		</div>
	</div>
</div>
